
.ipynb_checkpoints/environment-checkpoint.yml
.ipynb_checkpoints/LICENSE-checkpoint.md
.ipynb_checkpoints/Project-checkpoint.toml
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/REQUIRE-checkpoint
